<div class="header-ads">
    Get 25% OFF on your first order.
</div>

<header class="container">
    <div class="logo">
        <img src="assets/images/logo.svg" width="40">
        <div class="logo__brand">Ecommerce</div>
    </div>

    <div class="nav">
        <ul>
            <li>
                <a routerLink="/">Home</a>
            </li>
            <li>
                <a routerLink="/categories">Categories</a>
            </li>
            <li>
                <a routerLink="about">About</a>
            </li>
            <li>
                <a routerLink="/contact">Contact</a>
            </li>
        </ul>
    </div>

    <div class="profile">
        <div class="profile__item">
            <img src="assets/icons/Cart.svg">
        </div>
        
        <div class="profile__item">
            <img src="assets/icons/User-1.svg">
        </div>
        
    </div>
</header>