<div [routerLink]="['/product', product?.id]" class="product-item">
    <div class="product-item__image">
      <img src="https://firebasestorage.googleapis.com/v0/b/alte-ecommerce-7f786.appspot.com/o/products%2Fcover-1.png?alt=media&token=1fa0b6f4-a2b2-47ad-9e42-90cd195962c9">
    </div>
  
    <div class="product-item__name">
      {{product?.name}}
    </div>
  
    <div class="product-item__info">
      <alte-stock-check *ngIf="product?.inStock" [inStock]="product?.inStock"></alte-stock-check>
      <div class="product-item__info--pirce">{{product?.price | currency:'USD':'$'}}</div>
    </div>
  </div>
