@if(product$ | async; as product) {
    <alte-breadcrumb [currentPage]="product.name"/>
  
    <div class="container product">
      <div class="product--images">
        <img [src]="product.cover" alt="">
      </div>
      <div class="product--info">
        <h1>Raw Black T-Shirt Lineup</h1>
  
        <div class="product--info__stock-reviews">
          <alte-review *ngIf="product.reviews" [review]="product?.reviews"/>
          <alte-stock-check *ngIf="product?.inStock" [inStock]="product?.inStock"/>
        </div>
        <div class="product--info__price">
          {{product?.price | currency:'USD':'$'}}
        </div>
  
        <div class="product--info__colors">
          <div>Available Color</div>
            <alte-color-item
              [color]="product.color"
            />
        </div>
  
        <div class="product--info__sizes">
          <div>Available Size</div>
          <alte-size-item
            [size]="product.size"
          />
        </div>
  
        <div class="product--info__quantity">
          <div>Quantity</div>
          <alte-quantity-input [(quantity)]="quantity"/>
        </div>
  
  
        <div class="product--info__add-to-cart">
          <button
            class="add-to-cart-btn"
            alte-button
            theme="primary"
            (click)="addToCart(product)"
          >
            Add to Cart
          </button>
  
          <button
            alte-button
            theme="outline-icon"
            (click)="addToWishlist(product)"
          >
            <img src="assets/icons/Heart.svg"/>
          </button>
        </div>
      </div>
    </div>
  
    <div class="container product--description">
      <h2>Detail</h2>
      <div class="content" [innerHTML]="sanitazer.bypassSecurityTrustHtml(product.description)"></div>
  <!--    <div [innerHTML]="insertScritp"></div>-->
    </div>
  
  
    <div class="container product--related">
      <h2>Related Products</h2>
      <div class="products">
        @for (relatedProduct of relatedProducts$ | async; track relatedProduct.id){
  
        <alte-product-item
          [product]="relatedProduct"
        >
        </alte-product-item>
  
        }
      </div>
    </div>
  }
