.wishlists {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 24px;
  
    margin: 0 auto;
  
  
    &__item {
      position: relative;
      width: 240px;
  
  
      .delete-wishlist {
        position: absolute;
        top: 0;
        right: -10px;
      }
    }
  }